<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>家装管理</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body{
            background-color: #f5f5f5;
        }
        ul,li{
            list-style: none;
        }
        .service-content{
            position: absolute;
            width: 126px;
            height: auto;
            text-align: center;
            padding: 15px 0;
            background: #efefef;
            border-radius: 15px;
            border: 1px solid #ddd;
        }
        .service-lists{
            padding-top: 10px;
            padding-left: 0px;
        }
        .pointer-icon{
            position: relative;
        }
        .pointer-icon span {
            position: absolute;
            font-size: 30px;
            color: #c9c;
        }
        .txt-cl0{
            color: #24BAA4;
        }
        .item-img{
            width: 100px;
            height: 100px;
        }
        .list-block{
            width:180px;
        }
        .li-top{
            width: 100px;
            height: 100px;
            color:#444444;
            border-radius: 50%;
            margin: auto;
            border: 8px solid #fff;
        }
        .li-top i{
            font-size: 35px;
            margin-top: 10px;
            color: #fff;
        }
        .li-top p{
            font-size: 20px;
            font-weight: 900;
            color: #fff;
        }
        .bg-cl1{
            background-color:#008feb;
        }
        .bg-cl2{
            background-color:#f6276f;
        }
        .bg-cl3{
            background-color:#e49600;
        }
        .bg-cl4{
            background-color:#66CC99;
        }
        .li-middle{
            margin-top: 10px;
            color: #666;
            font-size: 17px;
            font-weight: 600;
        }
        .li-bottom{
            padding: 5px 5px;
        }
        .service-content a,.li-bottom a{
            color: #6c6f71;
        }
        #list09{
            width: 380px;
        }
        #list09 .list-block{
            width: 380px;
        }
        #list09 .list-block  .li-bottom{
            /*width: 340px;*/
        }
        #list07 .list-block .li-top i,#list10 .list-block .li-top i,#list11 .list-block .li-top i,#list12 .list-block .li-top i,#list22 .list-block .li-top i{
            margin-top: 21px;
        }
    </style>
</head>
<body>
    <div class="container" style="position:relative;margin-top: 20px">
        <div class="service-content">
            <div><img src="images/5.png" alt="" class="item-img"></div>
            <div style="margin-top: 10px;font-size: 16px;font-weight: 600;font-family: Microsoft YaHei">客户服务流程</div>
            <div>
                <ul class="service-lists">
                    <li>
                        <div><a href="javascript:;">客户建档</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">客户跟踪</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">预约量房</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">客户建档</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">客户建档</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">项目造价</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">预算报价</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">合同签订</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">客户交定</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">项目外包</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">材料采购</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">材料付款</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">施工方案</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">现场监理</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">费用报销</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">装修验收</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">工程收款</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">财务结算</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">竣工调查</a></div>
                        <div class="txt-cl0"><i class="glyphicon glyphicon-arrow-down"></i></div>
                    </li>
                    <li>
                        <div><a href="javascript:;">项目维护</a></div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="pointer-icon">
            <span style="top:35px;left: 320px;"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <span style="top:35px;left: 520px;"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <span style="top:35px;left: 720px;"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <span style="top:167px;left: 810px;"><i class="glyphicon glyphicon-chevron-down"></i></span>
            <span style="top:367px;left: 810px;"><i class="glyphicon glyphicon-chevron-down"></i></span>
            <span style="top:240px;left: 720px;"><i class="glyphicon glyphicon-chevron-left"></i></span>
            <span style="top:440px;left: 720px;"><i class="glyphicon glyphicon-chevron-left"></i></span>
            <span style="top:367px;left: 610px;"><i class="glyphicon glyphicon-chevron-down"></i></span>
            <span style="top:440px;left: 520px;"><i class="glyphicon glyphicon-chevron-left"></i></span>
            <span style="top:440px;left: 420px;"><i class="glyphicon glyphicon-chevron-left"></i></span>
            <span style="top:440px;left: 320px;"><i class="glyphicon glyphicon-chevron-left"></i></span>
            <span style="top:575px;left: 225px;"><i class="glyphicon glyphicon-chevron-down"></i></span>
            <span style="top:775px;left: 225px;"><i class="glyphicon glyphicon-chevron-down"></i></span>
            <span style="top:850px;left: 320px;"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <span style="top:850px;left: 520px;"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <span style="top:850px;left: 720px;"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <span style="top:980px;left: 810px;"><i class="glyphicon glyphicon-chevron-down"></i></span>
            <span style="top:1050px;left: 720px;"><i class="glyphicon glyphicon-chevron-left"></i></span>
            <span style="top:1050px;left: 520px;"><i class="glyphicon glyphicon-chevron-left"></i></span>
            <span style="top:155px;left: 433px;"><img src="images/1.png" alt="" style="width: 370px"></span>
            <span style="top:566px;left: 430px;"><img src="images/2.png" alt="" style="width: 400px"></span>
        </div>
        <div class="lists-content" id="listsbox" style="position:relative;">
        </div>
    </div>
    <div id="sdf1"></div>
    <div id="sdf2"></div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../assets/js/art_template.js"></script>
    <!--用于存放的模板-->
    <script id="template" type="text/html">
        {{each arr value i}}
            <div class="text-center box" id="{{value.id}}"  style="{{value.style}}">
                <div class="list-block">
                    <div>
                        <div class="{{value.div_classname}}">
                            <i class="{{value.i_classname}}" aria-hidden="true"></i>
                            {{if i < arr.length-1 && i!=6 && i!=9 && i!=10 && i!=11}} <p>{{value.num}}</p>{{/if}}

                        </div>
                    </div>
                    <div class="li-middle">
                        <div>{{value.name}}</div>
                    </div>
                    {{include 'item' value}}
                </div>
            </div>
        {{/each}}
    </script>
    <!--子模板-->
    <script id="item" type="text/html" >
        <div class="li-bottom">
            <div>
                {{each item}}
                <a href="{{$value.url}}">{{$value.name}}</a> {{if $index<item.length-1 }}-{{/if }}
                {{/each}}
            </div>
        </div>
    </script>
    <script>
        var data ={ arr:[
            { id:"list01",num:"01",name:"客户跟踪流程",div_classname:"li-top bg-cl1",i_classname:"fa fa-user txt-cl1",style:"position: absolute;left: 148px;top: 0px;",item:[{name:"建档",url:"javascript:;"},{name:"邀约",url:"javascript:;"},{name:"跟踪",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list02",num:"02",name:"预约量房流程",div_classname:"li-top bg-cl2",i_classname:"fa fa-bookmark txt-cl2",style:"position: absolute;left: 340px;top: 0px;",item:[{name:"预约",url:"javascript:;"},{name:"派工",url:"javascript:;"},{name:"测量",url:"javascript:;"},{name:"设计",url:"javascript:;"},{name:"确认",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list03",num:"03",name:"项目造价流程",div_classname:"li-top bg-cl3",i_classname:"fa fa-jpy txt-cl3",style:"position: absolute;left: 536px;top: 0px;",item:[{name:"造价",url:"javascript:;"},{name:"审核",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list04",num:"04",name:"预算报价流程",div_classname:"li-top bg-cl1",i_classname:"fa fa-calculator txt-cl1",style:"position: absolute;left: 733px;top: 0px;",item:[{name:"报价",url:"javascript:;"},{name:"审核",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list05",num:"05",name:"合同签订流程",div_classname:"li-top bg-cl3",i_classname:"fa fa-file-text-o txt-cl3",style:"position: absolute;left: 733px;top: 204px;",item:[{name:"创建",url:"javascript:;"},{name:"审核",url:"javascript:;"},{name:"外包",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list06",num:"06",name:"客户交定流程",div_classname:"li-top bg-cl2",i_classname:"fa fa-handshake-o txt-cl2",style:"position: absolute;left: 733px;top: 408px;",item:[{name:"收定",url:"javascript:;"},{name:"审核",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list07",num:"00",name:"报价模板",div_classname:"li-top bg-cl1",i_classname:"fa fa-files-o txt-cl1",style:"position: absolute;left: 340px;top: 204px;",item:[{name:"创建",url:"javascript:;"},{name:"审核",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list08",num:"06",name:"项目外包流程",div_classname:"li-top bg-cl2",i_classname:"fa fa-cubes txt-cl2",style:"position: absolute;left: 536px;top: 204px;",item:[{name:"创建",url:"javascript:;"},{name:"审核",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list09",num:"07",name:"材料采购流程",div_classname:"li-top bg-cl3",i_classname:"fa fa-cart-arrow-down txt-cl3",style:"position: absolute;left: 438px;top: 408px;",item:[{name:"创建",url:"javascript:;"},{name:"审核",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list10",num:"00",name:"材料采购直供单",div_classname:"li-top bg-cl3",i_classname:"fa fa-file-o txt-cl3",style:"position: absolute;left: 340px;top: 612px;",item:[{name:"创建",url:"javascript:;"},{name:"审核",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list11",num:"00",name:"材料采购入库单",div_classname:"li-top bg-cl3",i_classname:"fa fa-file-o txt-cl3",style:"position: absolute;left: 536px;top: 612px;",item:[{name:"创建",url:"javascript:;"},{name:"审核",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list12",num:"00",name:"材料领用单",div_classname:"li-top bg-cl3",i_classname:"fa fa-file-o txt-cl3",style:"position: absolute;left: 733px;top: 612px;",item:[{name:"创建",url:"javascript:;"},{name:"审核",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list13",num:"08",name:"材料付款流程",div_classname:"li-top bg-cl2",i_classname:"fa fa-jpy txt-cl2",style:"position: absolute;left: 148px;top: 408px;",item:[{name:"创建",url:"javascript:;"},{name:"审核",url:"javascript:;"},{name:"付款",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list14",num:"09",name:"施工方案流程",div_classname:"li-top bg-cl1",i_classname:"fa fa-clipboard txt-cl1",style:"position: absolute;left: 148px;top: 612px;",item:[{name:"创建",url:"javascript:;"},{name:"审核",url:"javascript:;"},{name:"进行",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list15",num:"10",name:"现场监理流程",div_classname:"li-top bg-cl2",i_classname:"fa fa-building-o txt-cl2",style:"position: absolute;left: 148px;top: 816px;",item:[{name:"装修详情",url:"javascript:;"}]}
             ,{ id:"list16",num:"11",name:"费用报销流程",div_classname:"li-top bg-cl1",i_classname:"fa fa-money txt-cl1",style:"position: absolute;left: 340px;top: 816px;",item:[{name:"创建",url:"javascript:;"},{name:"审核",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list17",num:"12",name:"装修验收流程",div_classname:"li-top bg-cl2",i_classname:"fa fa-check-square-o txt-cl2",style:"position: absolute;left: 536px;top: 816px;",item:[{name:"创建",url:"javascript:;"},{name:"审核",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list18",num:"13",name:"工程收款流程",div_classname:"li-top bg-cl3",i_classname:"fa fa-jpy txt-cl3",style:"position: absolute;left: 733px;top: 816px;",item:[{name:"创建",url:"javascript:;"},{name:"审核",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list19",num:"14",name:"项目结算流程",div_classname:"li-top bg-cl1",i_classname:"fa fa-calculator txt-cl1",style:"position: absolute;left:733px;top: 1020px;",item:[{name:"创建",url:"javascript:;"},{name:"审核",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list20",num:"15",name:"竣工调查流程",div_classname:"li-top bg-cl2",i_classname:"fa fa-building txt-cl2",style:"position: absolute;left: 536px;top: 1020px;",item:[{name:"创建",url:"javascript:;"},{name:"审核",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
             ,{ id:"list21",num:"16",name:"项目维护流程",div_classname:"li-top bg-cl1",i_classname:"fa fa-cog txt-cl1",style:"position: absolute;left: 340px;top: 1020px;",item:[{name:"创建",url:"javascript:;"},{name:"审核",url:"javascript:;"},{name:"归档",url:"javascript:;"}]}
            ,{ id:"list22",num:"00",name:"基础数据档案",div_classname:"li-top bg-cl4",i_classname:"fa fa-folder txt-cl4",style:"position: absolute;left: 148px;top: 1020px;",item:[{name:"验收档案",url:"javascript:;"}]}
        ]};
        var html=template('template',data);
        document.getElementById('listsbox').innerHTML=html;
    </script>
</body>
</html>