/**
 * Power by XuChengBin
 */

@charset "utf-8";
html { font-family: sans-serif; }
body { margin: 0px; }
body {
    background: #fff;
    color: #14171a;
    font-size: 14px;
    line-height: 18px;
    overflow-y: scroll;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
    background-color: #f5f8fa;
}
a { background: transparent none repeat scroll 0% 0%; }
a { color: #1b95e0; text-decoration: none; }
ol,ul { margin: 0px; list-style: outside none none; padding: 0px; }
ol, ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
li { text-align: inherit; }
b,strong { font-weight: bold; }
b { font-weight: normal; }
p {margin: 0;}
small { font-size: 80%; }
img { border: 0px none; }
button,input,optgroup,select,textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button,select { text-transform: none; }
button,html input[type="button"],input[type="reset"],input[type="submit"] { cursor: pointer; }
button[disabled],html input[disabled] { cursor: default; }
button { background: transparent none repeat scroll 0% 0%; border: 0px none; padding: 0px; }
button { border: 0px none; }
.m-0 {
  margin: 0px !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-r-15 {
  margin-right: 15px !important;
}
.m-r-30 {
  margin-right: 30px !important;
}
.m-r-40 {
  margin-right: 40px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-l-15 {
  margin-left: 15px !important;
}
.m-l-40 {
  margin-left: 40px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-t-0 {
  margin-top: 0px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-t-40 {
  margin-top: 40px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}

.permalink-container {
    padding-top: 3.5em;
    margin: auto;
    max-width: 68em;
    position: relative;
    z-index: 1;
}
.permalink {
    padding: 0;
    background-color: #f5f8fa;
    border: 1px solid #e6ecf0;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 6px;
}
.permalink {
    margin: .5em;
    margin-bottom: 2em;
}
.permalink-inner {
	border-bottom: 1px dashed #E6ECF0;
}
/*页面标题*/
.title-striped {
    display: block;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    text-align: center;
}
.title-striped-inwrap {
    position: relative;
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
}
.title-striped-inwrap h3 {
	margin: 0;
    color: #2196F3;
}
.title-striped-inwrap::before {
    left: 0;
}
.title-striped-inwrap::after {
    right: 0;
}
.title-striped-inwrap::before, 
.title-striped-inwrap::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 10%;
    top: 50%;
    height: 0;
    border-top: 1px dotted #ccc;
}

.headroom-header {
    background-color: #ffffff;
}
.headroom {
	transition: transform 200ms linear;
}
.headroom--pinned {
	transform: translateY(0%);
}
.headroom--unpinned {
	transform: translateY(-100%);
}
.headroom-header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
    box-shadow: 0 0 5px #ccc;
}
.headroom-container {
    margin: 0 auto;
}
.headroom-nav-wrapper {
    box-shadow: 0 0 5px #ccc;
}
.headroom-nav {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}
.headroom-nav_item {
    float: left;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    width: 25%;
    text-align: center;
}
.header__link {
    color: #A9ABAE;
    text-decoration: none;
    border: none;
}
.headroom-nav_item a {
    display: inline-block;
    padding: 1em;
    border: none;
}


/*链接地图setion*/
.decision-map-section {
	width: inherit;
    position: relative;
    min-height: 51px;
    padding: .5em;
    border-bottom: 0px none;
    border-radius: 5px;
    background-color: #fff;
}
.decision-map-table {
	width: 100%;
}
.decision-col-20 {
	width: 20%;
}
.decision-col-80 {
	width: 80%;
}

.decision-table-row {
    color: #666;
}
/*链接标题*/
.decision-table-row .decision-row-title {
	text-align: center;
}
.decision-table-row .decision-row-title h4 {
    margin: 0px 25%;
    font-size: .85em;
    color: #107d3a;
}
/*.decision-table-row .decision-links {
    background-color: #e44346;
}*/
.decision-table-row .decision-links div {
	overflow: hidden;
    min-height: 50px;
    padding: .5em;
}

/*链接*/
.decision-table-row {
	color: #4285f4;
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0.9),rgba(220, 220, 220, 0.7));
}
.decision-table-row .decision-links a {
	overflow: hidden;
    float: left;
    display: inline-block;
    height: 19px;
    line-height: 19px;
    padding: 0 8px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #fff;
    background: #4285f4;
    background: linear-gradient(to right, #45a5bf, #4285f4);
    border-radius: 3px;
    font-size: .85em;
    transition: all .2s ease-in-out;
}
.decision-table-row .decision-links a:hover {
    background: #FFF;
    color: #f50;
}
/*链接odd*/
/*.decision-table-row:nth-child(odd) {
    background: #4285f4;
    background: linear-gradient( #45a5bf, #4285f4);
    color: #fff;
}
.decision-table-row:nth-child(odd) .decision-links a {
    overflow: hidden;
    float: left;
    background-color: rgba(255,255,255,.2);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#33ffffff', GradientType=0);
    display: inline-block;
    height: 19px;
    line-height: 19px;
    padding: 0 8px;
    margin-bottom: 3px;
    margin-right: 3px;
    color: #fff;
    border-radius: 3px;
    transition: all .2s ease-in-out;
}
.decision-table-row:nth-child(odd) .decision-links a:hover {
    background-color: #FFF;
    color: #f50;
}*/